{% include "header.html" %}

            <!-- Header-->
            <header class="py-5">
                <div id="homeSection" class="section container px-5 pb-3">
                    <div class="row gx-5 align-items-center">
                        <div class="col-xxl-5">
                            <!-- Header text content-->
                            <div class="text-center text-xxl-start py-5">

                                <div class="fs-2 fw-bolder text-muted py-3">Project Manager</div>
                                <h1 class="display-4 fw-bolder mb-5 "><span class="text-gradient d-inline" style="font-size: 3.2rem;">Remarkable results on every endeavor</span></h1>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                    <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="javascript:void(0);" onclick="scrollToSection('resumeSection', 20)" id="scrollButton">Resume</a>
                                    <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="javascript:void(0);" onclick="scrollToSection('projectsSection', 20)" id="scrollButton">Projects</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-7">
                            <!-- Header profile picture-->
                            <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                                <div class="profile bg-gradient-primary-to-secondary mb-5">
                                    <!-- TIP: For best results, use a photo with a transparent background like the demo example below-->
                                    <!-- Watch a tutorial on how to do this on YouTube (link)-->
                                    <img class="profile-img" src="static/assets/img/profile.png" alt="..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About Section-->
            <section class="bg-light py-5">
                <div class="container px-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-xxl-8">
                            <div class="text-center my-5">
                                <h2 class="display-5 fw-bolder mb-4"><span class="text-gradient d-inline">About Me</span></h2>
                                <p class="lead fw-light mb-4">Aspiring Project Manager with over five years of experience performing complex daily functions, including sales, operations, and project management. Equipped with excellent communication skills to effectively interact with all levels of an organization, establish relationships, and influence project stakeholders.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div id="resumeSection" class="section container px-5 my-5 py-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                                <!-- Download resume button-->
                                <!-- Note: Set the link href target to a PDF file within your project-->
                                <a class="btn btn-primary px-4 py-3" href="static/assets/files/resume.pdf" download>
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                    Download
                                </a>
                            </div>
                            <!-- Experience Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2" style="font-size: 0.9em;">Apr 2022 - Present</div>
                                                <div class="small fw-bolder">Project Manager</div>
                                                <div class="small text-muted">Leger des Heils</div>
                                                <div class="small text-muted">Kongsberg, Norway</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>In the capacity of department leader, I am involved in streamlining community development projects and evaluating project performance to implement transformative initiatives.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2" style="font-size: 0.9em;">Mar 2021 - Feb 2023</div>
                                                <div class="small fw-bolder">Co-Founder & Operations Manager</div>
                                                <div class="small text-muted">Sprout USN</div>
                                                <div class="small text-muted">Drammen, Norway</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>As an adept manager, I successfully addressed the primary challenges of promoting departmental collaboration and oversaw joint projects with the European Space Agency.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Experience Card 3-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2" style="font-size: 0.9em;">May 2021 - Apr 2022</div>
                                                <div class="small fw-bolder">Project Coordinator</div>
                                                <div class="small text-muted">Studentsamskipnaden i Sørøst-Norge</div>
                                                <div class="small text-muted">Kongsberg, Norway</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>I held a part-time job that entailed coordinating student activities at Kongsberg campus. This position has made me more comfortable in project management and team leadership.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Experience Card 4-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2" style="font-size: 0.9em;">Dec 2019 - Jun 2020</div>
                                                <div class="small fw-bolder">Sales Representative</div>
                                                <div class="small text-muted">Sovamax Trading</div>
                                                <div class="small text-muted">Chișinău, Moldova</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Successfully gained new clients by providing price offers and quotes. Maintained strong B2B client relationships through a solid foundation of business integrity and customer service.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Experience Card 5-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2" style="font-size: 0.9em;">Aug 2017 - Jul 2019</div>
                                                <div class="small fw-bolder">Sales Manager</div>
                                                <div class="small text-muted">Firstline SRL</div>
                                                <div class="small text-muted">Chișinău, Moldova</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Contributed to the sales strategy by analyzing statistical records through CRM tools. Demonstrated critical thinking skills by generating comprehensive data reports and proposing new ideas.</div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Education Section-->
                        <section>
                            <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2" style="font-size: 0.9em;">Sep 2020 - Jun 2022</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">University of South-Eastern Norway</div>
                                                    <div class="small text-muted">Kongsberg, Norway</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Master's in Innovation and Technology Management</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>The program integrates innovation and technology management with the study of change processes and entrepreneurship, both in new ventures and established organizations.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2" style="font-size: 0.9em;">Sep 2014 - Jun 2018</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Technical University of Moldova</div>
                                                    <div class="small text-muted">Chișinău, Moldova</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Bachelor's in Engineering and Industrial Technologies</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>The program provides a multidisciplinary view of industrial engineering, equipping with knowledge in industrial technologies and business aspects to manage complex projects.</div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Divider-->
                        <div class="pb-2"></div>
                        <!-- Skills Section-->
                        <section>
                            <!-- Skillset Card-->
                            <div class="card shadow border-0 rounded-4">
                                <div class="card-body p-5">
                                    <!-- Professional skills list-->
                                    <div class="mb-5">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Areas of Expertise</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Agile Management</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Data Analysis</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Systems Engineering</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Risk Management</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Team Leadership</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Resource Allocation</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Time Management</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Quality Assurance</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Business Development</div></div>
                                        </div>

                                    </div>
                                    <!-- Languages list-->
                                    <div class="mb-0">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Software Skills</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Office 365</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Power BI</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Notion</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">MS Project</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Trello</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <section id="projectsSection" class="section py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Project Name 1</h2>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius at enim eum illum aperiam placeat esse? Mollitia omnis minima saepe recusandae libero, iste ad asperiores! Explicabo commodi quo itaque! Ipsam!</p>
                                        </div>
                                        <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 2-->
                            <div class="card overflow-hidden shadow rounded-4 border-0">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Project Name 2</h2>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius at enim eum illum aperiam placeat esse? Mollitia omnis minima saepe recusandae libero, iste ad asperiores! Explicabo commodi quo itaque! Ipsam!</p>
                                        </div>
                                        <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
        </main>
            <!-- Contact Section-->
            <section id="contactSection" class="section bg-light py-5">
                <div class="container px-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-xxl-8">
                            <div class="text-center my-5">
                                <h2 class="display-5 fw-bolder mb-5"><span class="text-gradient d-inline">Let's build something together!</span></h2>
                                <a class="btn btn-primary btn-lg px-5 py-3 mb-4 fs-6 fw-bolder" href="mailto:vcotruta95@gmail.com">Contact me</a>
                                <div class="d-flex justify-content-center fs-2 gap-4">
                                    <a class="text-gradient" href="https://www.facebook.com/kotrutsa/"><i class="bi bi-facebook"></i></a>
                                    <a class="text-gradient" href="https://www.linkedin.com/in/kotrutsa/"><i class="bi bi-linkedin"></i></a>
                                    <a class="text-gradient" href="https://github.com/kotrutsa"><i class="bi bi-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <!-- Footer-->

    <!-- Scrolling to sections-->
<script>
    function scrollToSection(sectionId, offset) {
        const section = document.getElementById(sectionId);
        const offsetTop = section.offsetTop - offset;
        window.scrollTo({
            top: offsetTop,
            behavior: 'smooth'
        });
    }
</script>

{% include "footer.html" %}
